<!DOCTYPE html>
<html lang="en" dir="ltr">

   <head>
      <meta charset="utf-8">
      <title>Logout</title>
   </head>

   <body>
      <h1>Are you sure you want to logout?</h1>
      <form action="/logout" method="post">
         <button type="submit" name="confirm">Yes</button>
         <button type="button" name="deny" onclick="location.href='/'">No</button>

      </form>
   </body>

</html>
