<!DOCTYPE html>
<html lang="en" dir="ltr">

   <head>
      <meta charset="utf-8">
      <title><%= postData.postTitle %></title>
   </head>

   <body>
      <h1><%= postData.postTitle %></h1>
      <p><%= postData.postDesc %></p>
      <a href="<%= postData.postLink %>">Link</a>
   </body>

</html>
